@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
  font-family: 'Inter', sans-serif;
}
.list_club a, .list_club button{
  border-radius: 5px;
  background-color: #000;
  text-decoration: none;
  padding: 4px;
  color: white
}
.list_club a:hover, .list_club button:hover{
  background-color: white;
  color: black
}
.team-rectangles {
  width: 100%;
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  display: flex;
}
.clubs_header_text{
  margin-top:20px;
  font-size: xx-large;

}
.navbar-logo-left {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
body{
  margin-top: 50px;
}
.navbarcontainer {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: rgb(253, 253, 167);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
.navbarcontainer a:hover{
  background-color: rgba(0, 65, 150, 1);
  color: rgb(253, 253, 167);
}
.navbar-content {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo {
  width: 117px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.shmuttons{
  padding: 30px;
}
#button1 {
  display: inline-block;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  text-align: center;  
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 20px 50px;
  border-bottom: #999e9e solid 7px;
  border-right: #999e9e solid 7px;
  overflow: hidden;
  white-space: nowrap;
}

#button1:hover{
  background-color: #fff;
  color: #000;
  padding-bottom: 21px;
  padding-right: 52px;
  border-bottom: #4f5151 solid 6px;
  border-right: #4f5151 solid 5px;
}
@media screen and (max-width: 1070px){
  #button1 {
     
    font-size: 26px;
    
  }
  .home-rec{
    display: flex;
    flex-direction: column;
  }
  .home-rec>div{
    width: 100%;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 870px){
  #button1 {
    font-size: 23px;
    padding: 7px 15px;
    border-bottom: #999e9e solid 3px;
    border-right: #999e9e solid 3px;
    
  }
  #button1:hover{
    padding-bottom: 8px;
    padding-right: 16px;
    border-bottom: #4f5151 solid 2px;
    border-right: #4f5151 solid 2px;
  }
}

.navbar-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.text-2 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.navbar-button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
}



#dropdown #dropbtn {
  border: none;
  outline: none;
}



.dropdown-content {
  position:absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

#dropdown:hover .dropdown-content {
  display: block;
}

.text-3 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.recommended_mentors {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.find_mentors {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-4 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.mentors_list {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.mentor_card_1 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.description {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.recommended_clubs {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.columns {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 124px 24px 8px;
  display: flex;
}
.footer-ting{
  margin-bottom: 435px;
}
.columns-2 {
  width: 100%;

  justify-content: space-between;
  align-items: space-between;
  display: flex;
  flex-direction: row;
}




.text-5 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer-links {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.column-2 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  
}
.small-columns {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding:10px 30px;
}
.small-columns>.column{
  background-color: #f1f1f1;
  padding:0px 20px;
  margin: 0px 2px;

}
.column {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.column h2{
  margin-bottom: 20px;
  white-space: nowrap;
}
.column a{
  text-decoration: none;
}
.content {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.logo-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.logo-2 {
  width: 100%;
  height: 68px;
  max-width: 287px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.copyright {
  width: 100%;
  max-width: 940px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  box-shadow: 0 -1px #e4ebf3;
}

.text-6 {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.bmcconnect-0 {
  color: #adb4b5;
  font-size: 40px;
  font-weight: 800;
  line-height: 150%;
}

.bmcconnect-1 {
  color: #7dd9ed;
  font-size: 40px;
  font-weight: 800;
  line-height: 150%;
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .navbar-link, .navbar-button {
    justify-content: center;
  }

  .mentors_list, .columns, .columns-2 {
    flex-direction: column;
    align-items: center;
  }

  .content, .footer-links, .column-2 {
    align-items: center;
  }
}

@media screen and (max-width: 1145px) {
  .small-columns {
    flex-direction: column;
    align-items: center;
  }
}
