{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="profile-header">
    <img class="profile-image" src="{% static 'pfp.jpg' %}" alt="profile-picture">
  <div><h2>{{ user.username }}</h2>

  {% if user.is_mentor %}
        <h5>Mentor</h5>
    {% elif user.is_mentee %}
        <h5>Mentee</h5>
    {% endif %}
  </div>
</div>
  
  <div class="profile-body">
    <div class="user-information">
  <h3>User Information</h3>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>First Name:</strong> {{ user.first_name }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name }}</p>
  <p><strong>Major:</strong> {{ user.major }}</p>
  <p><strong>Preferred Language:</strong> {{ user.preferred_language }}</p>
</div>
<div class="clubs-section">
  <h3>Clubs</h3>
  {% if clubs %}
    <ul>
      {% for club in clubs %}
        <li>{{ club.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No clubs found.</p>
  {% endif %}
</div>
<div class="edit-section">
  <h3>Edit Information</h3>
  <form method="POST" class="ibm-row-form">
    {% csrf_token %}
    {{ form.as_p }}
  </form>
  <a class="navbar-button w-nav-link text-3" href="{% url 'edit_profile'%}">Edit Profile</a>
  <a href="{% url 'signout' %}" class="navbar-button w-nav-link text-3">
      Log Out
  </a>
</div>
</div>
{% endblock %}